
table,th,tr,td{
    border: 2px solid;
}
/* table{
    border: 2px solid;
}
th,tr,td{
    border-left: 2px solid;
} */

.myspan{
    background: royalblue;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
}